body{
    min-height: 2000px;
}

.jumbotron, .lead{
    padding-top: 6rem;
    background-color: #1f1f1f;
    color: #ffff;
}
#about, p{
    color: #1f1f1f;
}
#nav{
    background-color: #ffc500;
}
#project, .h2{
    background-color: #1f1f1f;
    color: #ffff;
}
.footer{
    background-color: #ffc500;
}
section{
    padding-top: 5rem;
}