@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout=null;
}

<div class="text-center">
    <a href="/Login">LogOut</a>
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti laboriosam veniam iste quo tenetur porro soluta, velit officiis pariatur error labore at neque dicta consequatur numquam cupiditate earum ipsum!</p>
    
    
   
</div>
